@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
}
/* header */
.header{
  width: 1110px;
  margin: 0 auto;
  border: 0px solid #000;
}
/* navbar */
.navbar{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__logo{
  padding: 50px;
}
.navbar__list{
  display: flex;
}
.navbar__list a{
  padding: 10px 4px 15px;
  display: flex;
  border-bottom: 2px solid transparent;
  margin: 0px 19px ;
  font-size: 18px;
  line-height: 14px;
  color: #bab9b9;
}
.navbar__list a:hover{
  color: #4581b7;
  border-bottom-color: inherit;
}

.header__img{
  width: 100%;
  margin-top: 50px;
}

.header__img img{
  width: 100%;
  object-fit: contain;
}

/* body */
.body{
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
}
.body__center{
  width: 1140px;
  height: 550px;
  border: 0px solid #000;
  display: flex;
  justify-content: space-between;
}
.left__content{
  width: 730px;
  height: 500px;
  border: 0px solid #000;
  margin: 15px;
  background: #f0f0f0;
  padding: 52px 95px 95px 40px;
}
.left__content h2{
  font-size: 20px;
  font-weight: 700;
  color: #4581b7;
}
.left__content p{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  line-height: 1.5;
}
.right__content{
  width: 350px;
  height: 500px;
  border: 0px solid #000;
  margin: 15px;
  background: #f0f0f0;
  padding: 52px 40px;  
}
.right__content h2{
  font-size: 20px;
  font-weight: 700;
  color: #4581b7;
}
.content__address{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  line-height: 1.5;
}

.content__tel{
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  line-height: 1.5; 
}
.content__mail{
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  line-height: 1.5; 
}
/* footer */
.footer{
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;

}

.footer__center{
  width: 1140px;
  height: 150px;
  border: 0px solid #000;
  display: flex;
  justify-content: center;
}
.ft__content{
  width: 1110px;
  height: 150px;
  background: #f0f0f0;
  border: 0px solid #000;
  display: flex;
  justify-content: space-between;
}
.ft__logo{
  display: flex;
  margin: 15px 40px;
}
.ft__right{
  margin: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  line-height: 1.5;
}
.ft__tel{
  font-size: 25px;
  font-weight: 700;
  color: #919191;
  line-height: 1.5;
}
/* footer end */
